.umt-page-home {
    .container {
        padding: ($size-default-factor * 10) 0 ($size-default-factor * 5) 0;
        height: 100%;
    }

    .container-col {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .profile {
        margin-bottom: $size-default-factor * 20;

        .greeting {
            h2 {
                font-weight: 900;
                margin-bottom: -5px;
            }

            h2,
            span {
                font-size: 1.5rem;
                text-transform: none;
            }
        }
    }

    .news {
        &-title {
            margin-bottom: $size-default-factor * 3;
        }
    }

    .tabs {
        flex-grow: 1;
        position: relative;

        .umt-tabs {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .panel-challenges {
            .search {
                position: sticky;
                bottom: 0;
            }
        }
    }

    // MODALS
    .modal-geoloc {
        .umt-modal-container {
            .pin {
                width: $size-default-factor * 10;
                margin-bottom: $size-default-factor * 10;
            }

            .info {
                text-align: justify;
                margin-bottom: $size-default-factor * 10;
            }

            .close-sesion {
                margin-top: $size-default-factor * 5;
            }
        }
    }
}
