.umt-page-login {
    .cup {
        margin-top: $size-default-factor * 5;
        margin-bottom: $size-default-factor * 10;
    }

    .forgot-password {
        text-align: center;
        margin-top: $size-default-factor * 5;
    }
}
