.umt-page-reset-password {
    .lock {
        margin-top: $size-default-factor * 5;
        margin-bottom: $size-default-factor * 10;
    }

    .info {
        margin-bottom: $size-default-factor * 8;
        text-align: center;
    }

    .pass-input {
        margin-top: $size-default-factor * 5;
    }

    .change-pass {
        margin-bottom: $size-default-factor * 5;
    }
}
